<ion-item>
  <ion-avatar slot="start">
    <img [src]="userDetails.userAvatar" />
  </ion-avatar>
  <ion-label>
    <a
      [routerLink]="['/tabs/userDetails']"
      routerLinkActive="router-link-active"
      router-direction="forward"
      class="user-clickable-link"
      [queryParams]="{
        userHashId: userDetails.userHashId,
        userName: userDetails.username
      }"
    >
      <ion-label>
        <h3>{{ userDetails.username }}</h3>
        <p>
          {{ userDetails.firstName }} {{ userDetails.lastName }}
          <ng-container *ngIf="userDetails.isAlreadyFollowed">
            - Following
          </ng-container>
        </p>
      </ion-label>
    </a>
  </ion-label>
  <!-- <ion-button
    (click)="followUser(userDetails.userHashId)"
    *ngIf="!userDetails.isAlreadyFollowed"
    color="primary"
    >Follow</ion-button
  >

  <ion-chip *ngIf="isUserFollowSuccess" outline color="primary">
    <ion-label>Followed</ion-label>
    <ion-icon name="checkmark"></ion-icon>
  </ion-chip> -->
</ion-item>
