<ion-content>
  <ion-grid style="text-align: center;">
    <ion-row>
      <ion-col style="align-self: center;">
        <img [src]="userDetails.userAvatar" />
      </ion-col>
      <ion-col style="align-self: center;">
        <h2>{{ userDetails.totalPostCount }}</h2>
        <ion-note>
          Posts
        </ion-note>
      </ion-col>
      <ion-col style="align-self: center;">
        <h2>{{ userDetails.totalFollowers }}</h2>
        <ion-note>
          Followers
        </ion-note>
      </ion-col>
      <ion-col style="align-self: center;">
        <h2>{{ userDetails.totalFollowings }}</h2>
        <ion-note>
          Followings
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-padding-sm">
    <ion-grid style="text-align: center;">
      <ion-row *ngIf="userDetails.isCurrentUser">
        <ion-col>
          <ion-button
            *ngIf="userDetails.isCurrentUser"
            expand="block"
            type="submit"
            class="ion-no-margin"
            >Edit Profile</ion-button
          >
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!userDetails.isCurrentUser">
        <ion-col
          ><ion-button
            *ngIf="!userDetails.isAlreadyFollowed"
            expand="block"
            type="submit"
            class="ion-no-margin"
            (click)="this.followUser(userDetails.userHashId)"
            >Follow</ion-button
          >
          <ion-button
            *ngIf="userDetails.isAlreadyFollowed"
            expand="block"
            type="submit"
            class="ion-no-margin"
            (click)="this.unFollowUser(userDetails.userHashId)"
            >Un Follow</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button expand="block" type="submit" class="ion-no-margin"
            >Message</ion-button
          ></ion-col
        >
      </ion-row>
    </ion-grid>
  </div>

  <ion-grid class="ion-padding-sm">
    <ion-row>
      <ion-col
        style="padding: 0;"
        sizeLg="4"
        sizeMd="4"
        sizeXs="4"
        *ngFor="let userPost of this.allUserPosts"
      >
        <img class="img-wrapper" [src]="userPost.contentLink" />
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
