<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="floating"
          ><ion-text>First Name</ion-text>
        </ion-label>
        <ion-input type="text" formControlName="firstName"></ion-input>
      </ion-item>

      <ion-note
        color="danger"
        *ngIf="this.formSubmitted && checkControlHasError('firstName')"
        class="ion-padding"
        >Please enter valid first name
      </ion-note>

      <ion-item>
        <ion-label position="floating"
          ><ion-text>Last Name </ion-text></ion-label
        >
        <ion-input type="text" formControlName="lastName"></ion-input>
      </ion-item>

      <ion-note
        color="danger"
        *ngIf="this.formSubmitted && checkControlHasError('lastName')"
        class="ion-padding"
        >Please enter valid Last name
      </ion-note>

      <ion-item>
        <ion-label position="floating">
          <ion-text>Username</ion-text>
        </ion-label>
        <ion-input type="text" formControlName="userName"></ion-input>
      </ion-item>

      <ion-note
        color="danger"
        *ngIf="this.formSubmitted && checkControlHasError('userName')"
        class="ion-padding"
        >Please enter valid user name
      </ion-note>

      <ion-item>
        <ion-label position="floating"
          ><ion-text>Email address</ion-text>
        </ion-label>
        <ion-input type="email" formControlName="emailAddress"></ion-input>
      </ion-item>

      <ion-note
        color="danger"
        *ngIf="this.formSubmitted && checkControlHasError('emailAddress')"
        class="ion-padding"
        >Please enter valid email address
      </ion-note>

      <ion-item>
        <ion-label position="floating"
          ><ion-text>Password</ion-text>
        </ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <ion-note
        color="danger"
        *ngIf="this.formSubmitted && checkControlHasError('password')"
        class="ion-padding"
        >Please enter valid password
      </ion-note>

      <ion-item>
        <ion-label position="floating"
          ><ion-text>Confirm Password</ion-text>
        </ion-label>
        <ion-input
          type="password"
          formControlName="confirmPassword"
        ></ion-input>
      </ion-item>

      <ion-note
        color="danger"
        *ngIf="this.formSubmitted && checkControlHasError('confirmPassword')"
        class="ion-padding"
        >Please enter valid confirm password and both password & confirm
        password must be same.
      </ion-note>
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin"
        >Create account</ion-button
      >
    </div>
  </form>
</ion-content>
