<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="images"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title">Instant-Gram</ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item *ngIf="!isNetworkConnected">
    Please Connect to Internet
  </ion-item> -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="crescent"
    >
    </ion-refresher-content>
  </ion-refresher>
  <!-- 
  <ion-card *ngIf="this.isNewUser">
    <img src="./../../../assets/images/welcome.png" />
    <ion-card-header>
      <ion-card-title>Welcome {{this.currentUserName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Hello, Welcome to InstantGram, Please Click on
      <ion-icon name="search"></ion-icon> Icon and search your friend, or click
      on <ion-icon name="add-circle-outline"></ion-icon> to upload your first
      post.
    </ion-card-content>
  </ion-card> -->

  <app-photo-card
    [post]="post"
    *ngFor="let post of allNewPosts"
  ></app-photo-card>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
