<ion-card>
  <ion-card-content>
    <ion-list>
      <ion-item lines="none">
        <ion-thumbnail>
          <img [src]="post.uploadedUserAvatar" />
        </ion-thumbnail>
        <div class="ion-padding">
          <ion-note>{{ post.uploadedByUserName }} </ion-note>
        </div>
      </ion-item>

      <ion-item lines="none">
        <img [src]="post.contentLink" />
      </ion-item>
      <ion-item lines="none">
        <ion-buttons>
          <button ion-button (click)="this.onLikeButtonClick(post.id)">
            <ion-icon name="heart-empty"></ion-icon>
          </button>
        </ion-buttons>
      </ion-item>

      <ion-item lines="none">
        <ion-label>{{ post.totalLikes }} Likes</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-note>View All {{ post.totalComments }} Comments</ion-note>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
