<ion-card>
  <ion-item lines="none">
    <ion-thumbnail>
      <img [src]="post.uploadedUserAvatar" />
    </ion-thumbnail>
    <ion-label class="ion-padding">{{ post.uploadedByUserName }}</ion-label>
  </ion-item>

  <img [src]="post.contentLink" />

  <ion-item lines="none">
    <ion-buttons
      size="large"
      color="light"
      fill="none"
      (click)="this.onLikeButtonClick(post.id)"
      *ngIf="!post.isCurrentUserLikedPost"
      ><ion-icon size="large" name="heart-empty"></ion-icon
    ></ion-buttons>

    <ion-buttons
      size="large"
      color="danger"
      fill="none"
      (click)="this.onLikeButtonClick(post.id)"
      *ngIf="post.isCurrentUserLikedPost"
      ><ion-icon size="large" name="heart" color="danger"></ion-icon
    ></ion-buttons>
  </ion-item>

  <ion-item lines="none">
    <ion-label>{{ post.totalLikes }} Likes</ion-label>
  </ion-item>

  <ion-item *ngIf="post.totalComments > 0" lines="none">
    <ion-note>View All {{ post.totalComments }} Comments</ion-note>
  </ion-item>
  <ion-item *ngIf="post.uploadOn" lines="none">
    <ion-note>{{ post.uploadOn | timeago }}</ion-note>
  </ion-item>
</ion-card>
