<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        class="visible-ion-back-button"
        (click)="this.goBack()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Comments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="crescent"
    >
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let comment of allComments">
      <ion-avatar slot="start">
        <a
          [routerLink]="['/tabs/userDetails']"
          routerLinkActive="router-link-active"
          router-direction="forward"
          class="user-clickable-link"
          [queryParams]="{
        userHashId: comment.commentedBy.userHashId,
        userName: comment.commentedBy.username
      }"
        >
          <img [src]="comment.commentedBy.userAvatar" />
        </a>
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <p>
          <a
            [routerLink]="['/tabs/userDetails']"
            routerLinkActive="router-link-active"
            router-direction="forward"
            class="user-clickable-link-Dark"
            [queryParams]="{
              userHashId: comment.commentedBy.userHashId,
              userName: comment.commentedBy.username
            }"
          >
            {{comment.commentedBy.username}}
          </a>
          {{comment.content}}
        </p>
        <p>
          {{comment.commentedOn | amFromUtc | amLocal | amTimeAgo:true}}
          <ng-container *ngIf="comment.totalCommentLikes==1">
            {{comment.totalCommentLikes}} Like</ng-container
          >
          <ng-container *ngIf="comment.totalCommentLikes>1">
            {{comment.totalCommentLikes}} Likes</ng-container
          >
          <a
            *ngIf="comment.isCurrentUserComment"
            (click)="this.presentDeleteConfirm(comment.commentHashId)"
            class="user-clickable-link-Dark"
          >
            Delete
          </a>
        </p>
      </ion-label>

      <a
        *ngIf="!this.comment.isCurrentUserLikeComment"
        (click)="this.onLikeButtonClick(comment.commentHashId, comment.commentIdentifier)"
        class="user-clickable-link"
      >
        <ion-icon slot="end" slot="icon-only" name="heart-empty"></ion-icon>
      </a>
      <a
        *ngIf="this.comment.isCurrentUserLikeComment"
        (click)="this.onLikeButtonClick(comment.commentHashId, comment.commentIdentifier)"
        class="user-clickable-link"
      >
        <ion-icon
          slot="end"
          slot="icon-only"
          name="heart"
          color="danger"
        ></ion-icon>
      </a>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="this.currentUserAvatar" />
      </ion-avatar>

      <ion-input
        [(ngModel)]="userComment"
        type="text"
        placeholder="Add comment..."
      ></ion-input>
      <ion-button
        (click)="this.addComment()"
        [disabled]="!isValidComment"
        fill="clear"
        slot="end"
      >
        Post
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
