<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Photo Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="this.imageData">
    <ion-row>
      <ion-col>
        <img *ngIf="this.imageData" [src]="this.imageData" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          *ngIf="this.imageData"
          expand="block"
          type="submit"
          class="ion-no-margin"
          color="primary"
          (click)="this.uploadImage()"
          ><ion-icon name="checkmark"></ion-icon>Upload</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          *ngIf="this.imageData"
          expand="block"
          type="submit"
          class="ion-no-margin"
          color="danger"
          (click)="this.removeImage()"
          ><ion-icon name="trash"></ion-icon> Remove</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="this.selectImage()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<!-- 
<ion-footer>
  <ion-toolbar>
    <ion-segment>
      <ion-segment-button value="Gallery">
        <ion-label>Gallery</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Camera">
        <ion-label>Camera</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer> -->
